/*
 * Globals
 */

/*
 * Base structure
 */

html,
body {

    height: 100vh;
}

#campo_cedula {
    width: 65%;
    border-radius: 0px;
    padding: 1rem 0.75rem;
    background: black;
    border: 0.5px solid #ffffff7a;
    color: white;
}

#buttom_consultar {
    border-radius: 2.375rem !important;
    width: 31% !important;
    padding: 8px !important;
    font-size: 13px !important;
    font-family: 'Bahnschrift', sans-serif;
    text-decoration: none;
    font-weight: lighter !important;
}

#text1 {
    width: 80%;
}

h3 {
    font-family: 'Bahnschrift', sans-serif;
}

h4 {
    font-family: 'Bahnschrift', sans-serif;
}

h5 {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: bold;
    font-size: 15px !important;
}

h6 {
    font-family: 'Bahnschrift', sans-serif;
}

.info_requisitos {
    margin: 30%;
}

.info_no_exclusivos {
    margin: 30%;
}

.info_exclusivos {
    margin: 30%;
}

p {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: lighter;
    font-size: 12px !important;
    color: white;
}

@media screen and (max-width: 751px) {
    h5 {
        font-family: 'Bahnschrift', sans-serif;
        font-weight: bold;
        font-size: 10px !important;
        margin-bottom: -15px;
    }

    .info_requisitos {
        margin: 10%;
    }

    .info_no_exclusivos {
        margin: 10%;
    }

    .info_exclusivos {
        margin: 10%;
    }

    #logo_exclusive {
        margin-left: -10px !important;
    }


    #buttom_consultar {
        width: 29% !important;
        padding: 6px !important;
        font-size: 11px !important;
    }

    #letra_mas_grande {
        font-size: 11px !important;
    }
}